body
  font 16px ubuntu,sans-serif
  background white

.login-btn
  i 
    margin-top .2em
    display inline-block
    vertical-align top
  div
    display inline-block
    text-align left
    vertical-align top
